<!DOCTYPE html>
<html>
<head>
    <title>Your OTP</title>
</head>
<body>
    <h1>Hello {{name}},</h1>
    <p>Your One-Time Password (OTP) is: <strong>{{otp}}</strong></p>
    <p>This OTP is valid for a 1 minute Please use it to complete the verification process.</p>
    <p>Thank you for using our service!</p>
</body>
</html>
